div.container {
    padding: top right bottom left;
    padding: top/bottom left/right;
    padding: 50px 20px;
}
#list-group {
    height: 300px;
    overflow-y: auto;
}

#content-area {
    padding: 20px;
    height: 500px;
    overflow-y: auto;
}
.btn-outline-secondary {
    background-color: #0b306f; /* Adjust color as needed */
    border-color: #0b306f;
    color: white;
  }
.btn-small {
  padding: 10px 20px; /* Giảm padding ngang và dọc */
}
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
}
a.list-group-item.list-group-item-action.active{
    background-color: #0b306f; /* Adjust color as needed */
    border-color: #0b306f;
    color: white;
}